setproctitle==1.2.2
psutil==6.1.1
colorama==0.4.6
yarl==1.18.3
traitlets==5.14.3
torchvision==0.20.1
distro==1.9.0
Jinja2==3.1.5
networkx==3.4.2
pybind11==2.13.6
PyYAML==6.0.2
psutil==7.0.0
annotated-types==0.7.0
py-cpuinfo==9.0.0
wandb==0.19.6
jsonschema-specifications==2024.10.1
nvidia-nvtx-cu12==12.4.127
httptools==0.6.4
xgrammar==0.1.13
opencv-python-headless==4.11.0.86
pexpect==4.9.0
websockets==15.0
aiohappyeyeballs==2.4.6
pyasn1==0.6.1
prometheus-fastapi-instrumentator==7.0.2
pillow==11.1.0
interegular==0.3.3
stack-data==0.6.3
debugpy==1.8.12
xformers==0.0.28.post3
widgetsnbextension==4.0.13
wrapt==1.17.2
Pygments==2.19.1
markdown-it-py==3.0.0
cloudpickle==3.1.1
py-spy==0.4.0
MarkupSafe==3.0.2
sentry-sdk==2.21.0
sympy==1.13.1
wcwidth==0.2.13
six==1.17.0
tiktoken==0.9.0
attrs==25.1.0
aiohttp==3.11.12
aiosignal==1.3.2
cachetools==5.5.1
nvidia-cublas-cu12==12.4.5.8
uvloop==0.21.0
starlette==0.45.3
einops==0.8.1
datasets==3.3.0
tzdata==2025.1
googleapis-common-protos==1.67.0
pure_eval==0.2.3
parso==0.8.4
jupyter_client==8.6.3
huggingface-hub==0.28.1
click==8.1.8
httpcore==1.0.7
multidict==6.1.0
pip==24.3.1
packaging==24.2
safetensors==0.5.2
requests==2.32.3
google-auth==2.38.0
pluggy==1.5.0
aiohttp-cors==0.7.0
msgpack==1.1.0
prompt_toolkit==3.0.50
multiprocess==0.70.16
pydantic==2.10.6
matplotlib-inline==0.1.7
numpy==1.26.4
propcache==0.2.1
certifi==2025.1.31
nvidia-cusolver-cu12==11.6.1.9
setuptools==75.8.0
asttokens==3.0.0
jupyterlab_widgets==3.0.13
distlib==0.3.9
ray==2.42.1
mistral_common==1.5.3
ninja==1.11.1.3
referencing==0.36.2
depyf==0.18.0
nvidia-cudnn-cu12==9.1.0.70
smmap==5.0.2
watchfiles==1.0.4
outlines_core==0.1.26
colorful==0.5.6
tokenizers==0.21.0
tornado==6.4.2
decorator==5.1.1
nvidia-cusparselt-cu12==0.6.2
nvidia-cuda-cupti-cu12==12.4.127
comm==0.2.2
rpds-py==0.22.3
proto-plus==1.26.0
accelerate==1.3.0
google-api-core==2.24.1
ipython==8.32.0
nest-asyncio==1.6.0
rich==13.9.4
astor==0.8.1
pytz==2025.1
typing_extensions==4.12.2
lm-format-enforcer==0.10.10
partial-json-parser==0.2.1.1.post5
pyasn1_modules==0.4.1
lark==1.2.2
GitPython==3.1.44
iniconfig==2.0.0
ptyprocess==0.7.0
python-dateutil==2.9.0.post0
nvidia-nccl-cu12==2.21.5
importlib_metadata==8.6.1
openai==1.63.0
pydantic_core==2.27.2
transformers==4.48.3
triton==3.1.0
deepspeed==0.16.3
python-dotenv==1.0.1
gguf==0.10.0
nvidia-cuda-runtime-cu12==12.4.127
jiter==0.8.2
executing==2.2.0
regex==2024.11.6
sentencepiece==0.2.0
compressed-tensors==0.9.1
ipywidgets==8.1.5
grpcio==1.70.0
opencensus-context==0.1.3
nvidia-cufft-cu12==11.2.1.3
h11==0.14.0
virtualenv==20.29.2
uvicorn==0.34.0
airportsdata==20241001
dill==0.3.8
mdurl==0.1.2
zipp==3.21.0
smart-open==7.1.0
outlines==0.1.11
frozenlist==1.5.0
msgspec==0.19.0
ipykernel==6.29.5
nvidia-cuda-nvrtc-cu12==12.4.127
opencensus==0.11.4
jupyter_core==5.7.2
jedi==0.19.2
gitdb==4.0.12
rsa==4.9
nvitop==1.4.2
urllib3==2.3.0
protobuf==5.29.3
sniffio==1.3.1
trl==0.15.0
pyzmq==26.2.1
blake3==1.0.4
docker-pycreds==0.4.0
torch==2.5.1
tqdm==4.67.1
nvidia-ml-py==12.570.86
nvidia-curand-cu12==10.3.5.147
setproctitle==1.3.4
platformdirs==4.3.6
fastapi==0.115.8
jsonschema==4.23.0
xxhash==3.5.0
pandas==2.2.3
filelock==3.17.0
nvidia-nvjitlink-cu12==12.4.127
anyio==4.8.0
charset-normalizer==3.4.1
nvidia-cusparse-cu12==12.3.1.170
diskcache==5.6.3
idna==3.10
torchaudio==2.5.1
httpx==0.28.1
pyarrow==19.0.0
hjson==3.1.0
pycountry==24.6.1
vllm==0.7.2
fsspec==2024.12.0
mpmath==1.3.0
pytest==8.3.4
prometheus_client==0.21.1
jaraco.text==3.12.1
packaging==24.2
tomli==2.0.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
zipp==3.19.2
typing_extensions==4.12.2
wheel==0.43.0
jaraco.functools==4.0.1
more-itertools==10.3.0
backports.tarfile==1.2.0
importlib_metadata==8.0.0
platformdirs==4.2.2
autocommand==2.2.2
inflect==7.3.1
typeguard==4.3.0
